<div class="about-wrapper jumptarget" id="about" >
		<div class="banner about-banner">
			<div class="container">
			<h2 innerHTML ="{{title}}"> </h2>
			</div>  <!-- End container -->
		</div>    <!-- End banner about-banner -->
		
		<div class="container">
			<div class="body"> 
        <h4 innerHTML ="{{tagline}}"><!--{{content}}--></h4>
        <div class="paragraph-text" innerHTML ="{{descrption}}"> </div>
        <div class="clear"> </div>   <!-- End body -->
			
			<div class="inner-col width-49 fl"> 
			<h3 class="about-border">Personal Info</h3>
				
				<div class="info">
					<div class="talkbubble">Name</div>
					<span>Ranjit Raut</span>
					<div class="clear">  </div> <!--End clear-->  
				</div> <!--End info-->
				
				 <div class="info">
					<div class="talkbubble">Email</div>
					<span>ranjit.s.raut@gmail.com</span>
				<div class="clear">  </div> <!--End clear-->  
				</div> <!--End info-->
				
				 <div class="info">
					<div class="talkbubble">Skype Id </div>
					<span>raut.ranjit</span>
				<div class="clear">  </div> <!--End clear-->  
				</div> <!--End info-->
				
				<div class="info">
					<div class="talkbubble">Contact No.</div>
					<span>+ (91) 98-81-563-170</span>
					<div class="clear">  </div> <!--End clear-->  
				</div> <!--End info-->

				 <div class="info">
					<div class="talkbubble">Location</div>
					<span>Pune</span>
				<div class="clear">  </div> <!--End clear-->  
				</div> <!-- End info -->
				
			</div>  <!-- End inner-col -->
			
			<div class="inner-col width-50 fr">
				
			<div class="flip-img-container" id="flip-toggle">
				<div class="flipper-img">
					<div class="front-img">
					<img src="../assets/images/profile-pic.jpg">
					</div>
					
					 
				</div> 
			</div> <!--- flip-img-container-->
	
				<div class="clear"> </div>   <!-- End body -->
			</div> <!-- End inner-col -->
				<div class="clear">  </div> <!--End clear-->  
			
			</div>  <!-- End body -->
			
			
		 </div>  <!-- End container -->
		
		
		
	</div>   <!-- End about-wrapper -->
	