<div class="profile-wrapper jumptarget" id="profile">
		<div class="banner resume-banner">
			<div class="container">
			<h2 innerHTML="{{title}}"> </h2>
			</div>  <!-- End container -->
		</div>    <!-- End banner about-banner -->
		
		<div class="container">
			<div class="body"> 
      <h4 innerHTML="{{tagline}}"></h4>
      <div innerHTML="{{description}}"> </div>
      <div class="clear"> </div>   <!-- End clear -->
			
			<div class="width-49 fl skill-wrapper margin-top-10">
				<h4 innerHTML="{{designtitle}}"></h4>
				<p innerHTML="{{designdescription}}"></p>
			
			</div>   <!-- End skill-wrapper  -->
			
			<div class="width-49 fr skill-wrapper margin-top-10">
				<h4 class="programming-skills programming-clr" innerHTML="{{Programmingtitle}}"></h4>
				<p innerHTML="{{Programmingdescription}}"></p>
      </div>   <!-- End skill-wrapper  -->
		
		<div class="clear"> </div>  <!--End clear -->
			<div class="inner-col margin-top-20">
				<h3 class="profie-border ">Work Experience</h3>
				<ul class="experience">
				<li class="fl">
					<h4 class="no-border no-margin no-padding" innerHTML="{{silicustitle}}"></h4>
					<span class="designation fl"  innerHTML="{{silicusdesigination}}">Senior UI Analyst</span> 
					<span class="date fr"  innerHTML="{{silicusduartion}}">February 2014 – Present</span>
					<div class="clear"> </div>   <!-- End clear -->
					<div innerHTML="{{silicusdescription}}"></div>
				</li>	

				<li class="fr">
					<h4 class="no-border no-margin no-padding" innerHTML="{{nitortitle}}"></h4>
					<span class="designation-option fl" innerHTML="{{nitordesigination}}">Senior UI Analyst</span> 
					<span class="date fr"  innerHTML="{{nitorduartion}}">February 2014 – Present</span>
					<div class="clear"> </div>   <!-- End clear -->
					<div innerHTML="{{nitordescription}}"></div>
				  </li>
				  <div class="clear"> </div>  
				<li class="fl">
					<h4 class="no-border no-margin no-padding" innerHTML="{{sunflowertitle}}"></h4>
					<span class="designation fl" innerHTML="{{sunflowerdesigination}}"></span> 
					<span class="date fr" innerHTML="{{sunflowerduartion}}"></span>
					<div class="clear"> </div>   <!-- End clear -->
					<div innerHTML="{{sunflowerdescription}}"> cc</div>
					
				</li>
				<li class="fr">
					<div class="download-wrapper">
					   <div class="click-here">  </div>
						<a href="../assets/pdf/Ranjit-Raut-Web-UI-Developer-Resume.pdf" class="bt reume-bt animate" target="_blank" download="Ranjit-Raut-Web-UI-Developer-Resume.pdf">Download Resume</a>
					</div>
					<div class="clear"> </div>   <!-- End clear -->
				</li>
				<div class="clear"> </div>   <!-- End clear -->
				</ul>
				
				
			</div>	<!-- End inner-col -->
			
			</div>  <!-- End body -->
			
			
		 </div>  <!-- End container -->
		
	</div>   <!-- End project-wrapper -->
	
