<div class="project-wrapper jumptarget" id="portfolio">
		<div class="banner portfolio-banner">
			<div class="container">
			<h2 innerHTML="{{title}}"> </h2>
			</div>  <!-- End container -->
		</div>    <!-- End banner about-banner -->
		
		<div class="container">
			<div class="body"> 
			<h4 innerHTML = "{{tagline}}"></h4>
			<div innerHTML="{{description}}"></div>
			<div class="clear"> </div>   
			
			<app-worktab>Loading My Work Photo Gallery ...</app-worktab>
			
			</div>  <!-- End body -->
		 </div>  <!-- End container -->	
	</div>   <!-- End project-wrapper -->
	