<!-- Home Page Start Here -->
<div class="bg-wrapper"  id="home">
    
<div class="container">

<div class="for-desktop">

    <div class="col first-col">

    <div class="logo-wrapper">
    <a href="#home"><img src="../assets/images/R-logo.jpg" alt="Logo" title="Ranjit Raut Portfolio of Web/UI Developer"> </a>
    </div> <!--End logo-wrapper -->

    <div class="clear"> </div>  <!--End clear -->

    </div> <!-- End col  for-desktop-->

    <div class="col">

    <div class="big-tile">
    <div> <h3> I create <span class="orange">design</span> easy-to-use, </h3> </div>
    <div><h3> beautiful and sophisticated stuff</h3> </div>
    <div><h3 class="auto-width">on the <span class="orange">web & mobile.</span></h3> </div>

    </div> <!--End big-tile -->

    <a href="#about"  scrollTo   class="tile about-tile nav-tile">
    <img src="../assets/images/icon-about.png" class="nav-icon">
    <div class="overlay"></div>
    <span>About Me </span> 
    </a>

    <div class="tile">
    <img src="../assets/images/icon-ps.png" alt="Photoshop Icon" class="tile-img"> 
    <div class="card-container" >
        <div class="card over" id="so1" data-direction="right" >
            <div class="front">  <img src="../assets/images/icon-ps.png">   </div> <!--End front -->
            <div class="back"> <img src="../assets/images/icon-dw.png">  </div> <!--End back -->
        </div> <!--End card over -->
    </div>   <!--End card-container -->


    </div> <!--End big-tile -->

    <div class="tile">
    <img src="../assets/images/icon-css3.png" alt="CSS3 Icon" class="tile-img"> 
    <div class="card-container" >
        <div class="card over" id="so2" data-direction="right" >
            <div class="front"> <img src="../assets/images/icon-css3.png">   </div> <!--End front -->
            <div class="back"> <img src="../assets/images/icon-h5.png">  </div> <!--End back -->
        </div> <!--End card over -->
    </div>   <!--End card-container -->

    </div> <!--End tile -->

    <a href="#portfolio"  scrollTo class="tile portfolio-tile nav-tile">
    <img src="../assets/images/icon-porfolio.png" class="nav-icon">
    <div class="overlay"></div>
    <span>My Work </span> 
    </a>

    <div class="tile">
    <img src="../assets/images/icon-js.png" alt="JavaScript Icon" class="tile-img">  
    <div class="card-container" >
        <div class="card over" id="so3" data-direction="right" >
            <div class="front"> <img src="../assets/images/icon-js.png">   </div> <!--End front -->
            <div class="back"> <img src="../assets/images/icon-jq.png">  </div> <!--End back -->
        </div> <!--End card over -->
    </div>   <!--End card-container -->
    </div> <!--End tile -->

    <div class="tile">
    <img src="../assets/images/icon-ai.png" alt="AI Icon" class="tile-img"> 
    <div class="card-container" >
        <div class="card over" id="so4" data-direction="right" >
            <div class="front"> <img src="../assets/images/icon-ai.png">   </div> <!--End front -->
            <div class="back"> <img src="../assets/images/icon-fl.png">  </div> <!--End back -->
        </div> <!--End card over -->
    </div>   <!--End card-container -->
    </div> <!--End tile -->

    <a href="#profile" scrollTo class="tile resume-tile nav-tile">
    <img src="../assets/images/icon-profile.png" class="nav-icon">
    <div class="overlay"></div>
    <span>My Profile </span> 
    </a>

    <div class="medium-tile"> </div> <!--End tile -->

    <div class="tile ">
    <img src="../assets/images/icon-aj.png" alt="Angular Icon" class="tile-img"> 
    <div class="card-container" >
        <div class="card over" id="so5" data-direction="right" >
            <div class="front"> <img src="../assets/images/icon-aj.png">   </div> <!--End front -->
            <div class="back"> <img src="../assets/images/icon-bs.png">    </div> <!--End back -->
        </div> <!--End card over -->
    </div>   <!--End card-container -->
    </div> <!--End tile -->

    <a href="#contact" scrollTo class="tile contact-tile nav-tile">
    <img src="../assets/images/icon-contact.png" class="nav-icon">
    <div class="overlay"></div>
    <span>Contact Me </span> 
    </a>

    <div class="tile"> </div> <!--End tile -->

    <div class="clear"> </div>  <!--End clear -->

    </div> <!--End col -->

</div>   <!--End for-desktop -->

<div class="for-mobile">
        
    <div class="col">
        
        <div class="logo-wrapper">
        <a href="#home"><img src="../assets/images/R-logo-mobile.jpg" alt="Logo"  title="Ranjit Raut Portfolio of Web/UI Developer"> </a>
        </div> <!--End logo-wrapper -->
        
        <div class="clear"> </div>  <!--End clear -->
        
        </div> <!-- End col -->
        
        
            <div class="col">
            
                <div class="tile"><div class="card-container"><div class="card over" id="so1-mob" data-direction="right"><div class="front"><img src="../assets/images/icon-ps.png"></div><!--End front --><div class="back"><img src="../assets/images/icon-dw.png"></div><!--End back --></div> <!--End card over --></div></div><!--End tile -->
                <a href="#portfolio" class="tile portfolio-tile nav-tile large-tile">
                    <img src="../assets/images/icon-porfolio.png" class="nav-icon">
                    <div class="overlay"></div>
                    <span>My Project </span>
                </a>
                <div class="tile"><div class="card-container">
                <div class="card over flipping-right" id="so2-mob" data-direction="right">
                    <div class="front"> <img src="../assets/images/icon-css3.png">   </div> <!--End front -->
                    <div class="back"> <img src="../assets/images/icon-h5.png">  </div> <!--End back -->
                </div> <!--End card over -->
            </div>
                </div><!--End tile --><a href="#about" class="tile about-tile nav-tile">
                    <img src="../assets/images/icon-about.png" class="nav-icon">
                    <div class="overlay"></div>
                    <span>About Me </span> 
                </a><div class="tile">
                
                    <div class="card-container">
                <div class="card over" id="so3-mob" data-direction="right">
                    <div class="front"> <img src="../assets/images/icon-js.png">   </div> <!--End front -->
                    <div class="back"> <img src="../assets/images/icon-jq.png">  </div> <!--End back -->
                </div> <!--End card over -->
            </div>
                
                </div><!--End tile --><a href="#profile" class="tile resume-tile nav-tile large-tile">
                <img src="../assets/images/icon-profile.png" class="nav-icon">
                <div class="overlay"></div>
                <span>My Profile </span> 
                </a><div class="tile"> 
                    
                    <div class="card-container">
                <div class="card over flipping-right" id="so4-mob" data-direction="right">
                    <div class="front"> <img src="../assets/images/icon-ai.png">   </div> <!--End front -->
                    <div class="back"> <img src="../assets/images/icon-fl.png">  </div> <!--End back -->
                </div> <!--End card over -->
            </div>
        
                 </div><!--End tile --><a href="#contact" class="tile contact-tile nav-tile">
                    <img src="../assets/images/icon-contact.png" class="nav-icon">
                    <div class="overlay"></div>
                    <span>Contact Me </span> 
                </a><div class="tile">
                   
                    <div class="card-container">
                <div class="card over flipping-right" id="so5-mob" data-direction="right">
                    <div class="front"> <img src="../assets/images/icon-aj.png">   </div> <!--End front -->
                    <div class="back"> <img src="../assets/images/icon-bs.png">    </div> <!--End back -->
                </div> <!--End card over -->
            </div>
                   
                   
                </div><!--End tile -->	
            
        
            <div class="clear"> </div>  <!--End clear -->
        
            </div> <!--End col -->
        
        </div>   <!--End for-mobile -->






<div class="clear"> </div>  <!--End clear -->

</div>  <!--End container -->

</div> <!--End bg-wrapper -->
  <!-- Home Page End Here -->